<!DOCTYPE html>
<html lang="en" style="display: flex;justify-content: center;align-items: center;">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Pichess</title>
  <link rel="icon" type="image/x-icon" href="assets/img/logo.jpeg">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">

  <script src="assets/js/moment.js"></script>
  <script src="assets/js/local_chess.js"></script>
  <script src="assets/js/tools.js"></script>


  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');
  </script>


  <link rel="stylesheet" href="assets/css/chessboard-1.0.0.css">
  <link rel="stylesheet" href="assets/css/mycss.css">

  <!-- /END GA -->
</head>

<body style="background-color: #E4E0E1;" class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="/" class="navbar-brand ">PICHESS </a>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="/">
            <!-- <i class="fas fa-ellipsis-v"></i>-->
          </a>

        </div>
      </nav>


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <span id="who_to_move_white">⚪ <b>White to move</b> (mate in 3)</span>
            <span id="who_to_move_black">⚫ <b>Black to move</b> (mate in 3)</span>
          </div>

          <div class="section-body">
            <p class="section-lead"></p>

            <div class="row">
              <div class="col-9">
                <p>Puzzle ID: <span id="puzzle_id">-</span></p>
              </div>
              <div class="col-3">
                <i id="dragging" class="fas fa-toggle-on"></i>
                Drag
              </div>
            </div>

            <div id="solved_badge" style="display: none;" class="row">
              <div class="col-12">
                <div class="alert alert-success alert-has-icon">
                  <div class="alert-icon"><i class="far fa-thumbs-up"></i></div>
                  <div class="alert-body">
                    <div class="alert-title">Well done!</div>
                    You solved this puzzle
                  </div>
                </div>
              </div>
            </div>
            <div id="loading_block" class="row">
              <div class="col-12">
                <div class="loading_container">
                  <div class="loading-circle"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div id="board1" style="margin: auto; width: auto; position: relative; box-sizing: border-box;"></div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-4 d-flex justify-content-center">
                <ul onclick="reset()" class="pagination pagination-sm ">
                  <li class="page-item">
                    <a class="page-link">
                      <i class="fas fa-redo"></i>

                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <ul onclick="hint()" class="pagination pagination-sm">
                  <li class="page-item">
                    <a class="page-link">
                      <i class="fas fa-eye"></i>

                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <ul onclick="newone()" class="pagination pagination-sm">
                  <li class="page-item">
                    <a class="page-link">
                      <i class="fas fa-arrow-right"></i>

                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">
                  <li class="media">
                    <div class="media-body">
                      <p id="status"></p>

                    </div>
                    <div class="media-items">
                      <div class="media-item">
                        <div class="media-value"><span id="seen_times">-</span></div>
                        <div class="media-label">Seen</div>
                      </div>
                      <div class="media-item">
                        <div class="media-value"><span id="sol_times">-</span></div>
                        <div class="media-label">Solved</div>
                      </div>
                      <div class="media-item">
                        <div class="media-value"><span style="font-size: x-small;" id="gen_time">-</span></div>
                        <div class="media-label">Generated</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2025 <div class="bullet"></div> Made with love By <a target="_blank"
            href="https://x.com/AhmedDebb">Ahmed
            Debbech</a>
        </div>
        <div class="footer-right">

        </div>
      </footer>
    </div>
  </div>

  <script src="assets/modules/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      console.log('Document is fully loaded and parsed');
      setTimeout(() => {
        if (getDraggingMode() == "1") {
          $("#dragging").removeClass("fa-toggle-off")
          $("#dragging").addClass("fa-toggle-on")
        } else {
          $("#dragging").addClass("fa-toggle-off")
          $("#dragging").removeClass("fa-toggle-on")
        }
        $("#dragging").click(function () {
          if (getDraggingMode() == "1") {
            $("#dragging").addClass("fa-toggle-off")
            $("#dragging").removeClass("fa-toggle-on")
            setDraggingMode("0");
          } else {
            $("#dragging").removeClass("fa-toggle-off")
            $("#dragging").addClass("fa-toggle-on")
            setDraggingMode("1");
          }
          boardWithoutOrWithDrag()
        })
      }, 0)
    })
  </script>
  <script src="assets/js/local_general.js"></script>
  <script src="assets/js/chess_the_engine.js"></script>
  <script src="assets/js/chessboard-1.0.0.js"></script>

  <script>

    var obj = { url_original: "", dataMatch: undefined }
    requestNew(obj)
    getUuid()

    function original() {
      window.open(obj.url_original, '_blank').focus();
    }

    function newone() {
      requestNew(obj)
    }

    function reset() {
      resetBoard()
      buildBoard(obj.dataMatch);
    }

    function hint() {
      hintPuzzle(obj.dataMatch.BestMoves)
    }
  </script>

  <!-- General JS Scripts -->
  <script src="assets/modules/popper.js"></script>
  <script src="assets/modules/tooltip.js"></script>
  <script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="assets/modules/moment.min.js"></script>
  <script src="assets/js/stisla.js"></script>

  <!-- JS Libraies -->

  <!-- Page Specific JS File -->

  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>