<!DOCTYPE html>
<html lang="en" style="display: flex;justify-content: center;align-items: center;">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Layout &rsaquo; Top Navigation &mdash; Stisla</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">

  <script src="assets/js/moment.js"></script>
  <script src="assets/js/local_chess.js"></script>

  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');
  </script>

  <style>
    .highlight-move {
      box-shadow: inset 0 0 3px 3px yellow;
    }
  </style>
  <link rel="stylesheet" href="assets/css/chessboard-1.0.0.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- /END GA -->
</head>

<body style="background-color: #E4E0E1;" class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="index.html" class="navbar-brand sidebar-gone-hide">PICHESS </a>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
            <!-- <i class="fas fa-ellipsis-v"></i>-->
            <h2>PICHESS</h2>
          </a>
          <ul class="navbar-nav">
            <li class="nav-item active"><a href="#" class="nav-link"></a></li>
            <li class="nav-item"><a href="#" class="nav-link"></a></li>
            <li class="nav-item"><a href="#" class="nav-link"></a></li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-secondary navbar-expand-lg">

      </nav>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Puzzle ID: <span id="puzzle_id">-</span></h1>
          </div>

          <div class="section-body">
            <p class="section-lead"></p>

            <div class="row">
              <div class="col-12">
                <div id="board1" style="margin: auto; width: auto; position: relative; box-sizing: border-box;"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card profile-widget">
                  <div class="profile-widget-header">
                    <div class="profile-widget-description">
                      <div class="profile-widget-name">
                        <span id="who_to_move_white">⚪ White to move </span>
                        <span id="who_to_move_black">⚫ Black to move </span>
                        <div class="text-muted d-inline font-weight-normal">
                          <div class="slash"></div> <span id="status" ></span>
                        </div>
                      </div>
                    </div>
                    <div class="profile-widget-items">
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Seen</div>
                        <div class="profile-widget-item-value"><span id="seen_times">-</span></div>
                      </div>
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Solved</div>
                        <div class="profile-widget-item-value"><span id="sol_times">-</span></div>
                      </div>
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Generated</div>
                        <div class="profile-widget-item-value"><span style="font-size: x-small;" id="gen_time">-</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Tools</label>
                  <div class="selectgroup w-100">
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="50" class="selectgroup-input">
                      <span class="selectgroup-button">Reset</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="100" class="selectgroup-input">
                      <span class="selectgroup-button">Hint</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="150" class="selectgroup-input">
                      <span class="selectgroup-button">New</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="200" class="selectgroup-input">
                      <span class="selectgroup-button">Original</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2024 <div class="bullet"></div> Made with love By <a target="_blank"
            href="https://x.com/AhmedDebb">Ahmed
            Debbech</a>
        </div>
        <div class="footer-right">

        </div>
      </footer>
    </div>
  </div>

  <script src="assets/js/chessboard-1.0.0.js"></script>

  <script>
    $.ajax({
      url: '/load',
      type: "GET",
      success: function (data) {
        console.log(data)
        $("#puzzle_id").html(data.ID)
        $("#gen_time").html(moment.unix(data.GenTime.substring(0, data.GenTime.length - 9)).format(
          'DD/MM/YYYY - HH:mm'))
        $("#seen_times").html(data.SeenCount)
        $("#sol_times").html(data.SolveCount)

        data = {
    "ID": "41396",
    "FEN": "r3r1k1/pp3pp1/2n2N1p/q4b2/8/5NQ1/PPP3PP/2KR3R b - - 4 18",
    "BestMoves": [
        "g8h8",
        "f6e8",
        "a8e8",
        "a2a3"
    ],
    "GenTime": "1732973977063127551",
    "CurrentPlayer": 0,
    "SolveCount": 0,
    "MatchLink": "https://lichess.org/99gp00os",
    "SeenCount": 0,
    "FirstSeenTime": ""
}
        buildBoard(data);

      },

      error: function (error) {
        console.log(`Error ${error}`);
      }
    });
  </script>

  <!-- General JS Scripts -->
  <script src="assets/modules/jquery.min.js"></script>
  <script src="assets/modules/popper.js"></script>
  <script src="assets/modules/tooltip.js"></script>
  <script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="assets/modules/moment.min.js"></script>
  <script src="assets/js/stisla.js"></script>

  <!-- JS Libraies -->

  <!-- Page Specific JS File -->

  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>